/* ------------------ FONTS ------------------ */

@font-face {
  font-family: 'Open-sans';
  src: local('OpenSansRegular'), local('OpenSans-Regular'),
  url(../fonts/OpenSans-Regular.woff2) format(woff2),
  url(../fonts/OpenSans-Regular.woff), format(woff);
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open-sans';
  src: local('OpenSansSemiBold'), local('OpenSans-SemiBold'),
  url(../fonts/OpenSans-SemiBold.woff2) format(woff2),
  url(../fonts/OpenSans-SemiBold.woff), format(woff);
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Open-sans';
  src: local('OpenSansBold'), local('OpenSans-Bold'),
  url(../fonts/OpenSans-Bold.woff2) format(woff2),
  url(../fonts/OpenSans-Bold.woff), format(woff);
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

/* ------------------ GENERAL ------------------ */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
  font-family: 'Open-sans', sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
}

:root {
	--green: #34c759;
	--orange: #e6b127;
	--red: #f06a4d;
	--firm: #9873ff;
	--grey: #c8c5d1;
	--txt-grey: #b0b0b0;
	--black: #333;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* ------------------ HEADER ------------------ */

.header {
  padding: 20px 0;
  box-shadow: 0 3px 6px 0 rgba(176, 190, 197, 0.32), 0 9px 27px 0 rgba(176, 190, 197, 0.32);
  background-color: #fff;
}

.header__input {
  padding: 13px 15px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  width: 581px;
  height: 44px;
  font-size: 14px;
}

.header__row  {
  display: flex;
  align-items: center;
}

/* ------------------ CLIENTS ------------------ */

.clients {
  padding: 40px 0;
}

.clients__title {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.table__th {
  font-weight: 400;
  font-size: 12px;
  color: var(--txt-grey);
}

 .table__th--id {
  font-size: 12px;
  color: var(--firm);
 }

.table__span {
  font-size: 10px;
  color: var(--firm);
}

.clients__table-wrapper {
  padding: 0 12px;
}

.clients__button--wrapper {
  text-align: center;
}

.clients__button {
  padding: 12px 26px;
  border: 1px solid var(--firm);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--firm);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.clients__button-svg {
  margin-right: 10px;
}
